<!doctype html>
<html>
  <head>
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <script>
      function initialize() {
            var earth = new WE.map('earth_div',{
                        zoom: 3,
                        scrollWheelZoom: true
                        });

            WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(earth);

            $.get('/geo.json', function (geos) {
                let geo;
                for (let key in geos) {
                      geo = geos[key];
                      var marker4 = WE.marker([geo.latitude, geo.longitude]).addTo(earth);
                      marker4.bindPopup(geo.title, {maxWidth: 120, closeButton: true});
                }
              });
          }
    </script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <style>
      html, body{padding: 0; margin: 0;}
      #earth_div{top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
    </style>
    <title>A globe!</title>

    {% block head %}
        <!-- put extra CSS/JS here -->
    {% endblock %}

  </head>
  <body onload="initialize()">
    <div id="earth_div"></div>

  {% block body %}
  {% endblock %}

  </body>
</html>

